services:
  geoserver:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        GEOSERVER_WEBAPP_SRC: ./geoserver.war
        PLUG_IN_PATHS: ./plugins
    container_name: geoserver
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./context.xml:/usr/local/tomcat/conf/context.xml:ro
      - gs_datadir:/var/geoserver/datadir

volumes:
  gs_datadir:
