version: "3"
networks:
  intergration-test:
    driver: bridge
services:
  postgres:
    image: postgis/postgis
    container_name: postgres
    restart: on-failure
    healthcheck:
      test: /usr/bin/pg_isready -U postgres
      interval: 5s
      timeout: 10s
      retries: 120
    ports:
      - 5432
    env_file:
      - ./postgres/postgres.env
    volumes:
      - pg_data:${PGDATA:-/var/lib/postgresql/data}:rw
      - ./postgres/01-init-user.sh:/docker-entrypoint-initdb.d/01-init-user.sh
    networks:
      - intergration-test

  geoserver:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        GEOSERVER_WEBAPP_SRC: "https://build.geoserver.org/geoserver/main/geoserver-main-latest-war.zip"
    container_name: geoserver
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - 8080
    networks:
      - intergration-test

  proxy:
    image: nginx
    container_name: proxy
    volumes:
      - ./geoserver.conf:/etc/nginx/conf.d/default.conf:rw
    ports:
    - 80:80
    depends_on:
      - geoserver
    networks:
      - intergration-test

volumes:
  pg_data:
