/*NAMERoads ArrowsNAME*//*TEMPLATE@motorway_casing: #dc2a67;
@trunk_casing: #c84e2f;
@primary_casing: #a06b00;
@secondary_casing: #707d05;
@tertiary_casing: #8f8f8f;
@residential_casing: #bbb;
@pedestrian_casing: #999;
@raceway_fill: pink;
@footway_fill: salmon;
@steps_fill: salmon;
@cycleway_fill: blue;
@track_fill: #996600;


@motorway_oneway_arrow_color: @motorway_casing[dr25];
@trunk_oneway_arrow_color:        @trunk_casing[dr25];
@primary_oneway_arrow_color:      @primary_casing[dr15];
@secondary_oneway_arrow_color:    @secondary_casing[dr10];
@tertiary_oneway_arrow_color:     @tertiary_casing[dr30];
@residential_oneway_arrow_color:  @residential_casing[dr40];
@living_street_oneway_arrow_color: @residential_casing[dr30];
@pedestrian_oneway_arrow_color:   @pedestrian_casing[dr25];
@raceway_oneway_arrow_color:      @raceway_fill[dr50];
@footway_oneway_arrow_color:      @footway_fill[dr35];
@steps_oneway_arrow_color:        @steps_fill[dr35];
@cycleway_oneway_arrow_color:     @cycleway_fill[dr25];
@track_oneway_arrow_color:        @track_fill[dr15];
@bridleway_oneway_arrow_color:    @track_fill[dr10];

/$ Arrows $/
[class = 'highway' and type in (
    'motorway',
    'motorway_link',
    'trunk',
    'trunk_link',
    'primary',
    'primary_link',
    'secondary',
    'secondary_link',
    'tertiary',
    'tertiary_link',
    'residential',
    'unclassified',
    'living_street',
    'road',
    'service',
    'pedestrian',
    'raceway',
    'cycleway',
    'footway',
    'path',
    'steps',
    'track',
    'bridleway'
)][oneway in (1, -1)][@sd < 10k] {
  	/$ empty label doesn't work, uses opacity 0 instead $/
    label: '->';
  	font-opacity: 0;
  	label-priority: z_order;
  
  	font-family: 'monospace';
  	label-follow-line: true;
  	label-repeat: 150;
  	label-max-displacement: 300;
  	label-offset: 0 -4;
  	label-group: true;
  	label-padding: 20;
  	shield: symbol('file://symbols/oneway.svg');
  	[oneway = '-1'] {
      	shield: symbol('file://symbols/oneway-reverse.svg');
      	/$label-offset: 0 4;$/
  	};
  	:shield {
    	fill: #000000;
      	size: 5;
  	};
  	[type in ('motorway', 'motorway_link')] {
    	:shield { fill:@{motorway_oneway_arrow_color}; };
    };
    [type in ('trunk', 'trunk_link')] {
    	:shield { fill:@{trunk_oneway_arrow_color}; };
    };
    [type in ('primary', 'primary_link')] {
		:shield { fill:@{primary_oneway_arrow_color}; };
    };
    [type in ('secondary', 'secondary_link')] {
        :shield { fill:@{secondary_oneway_arrow_color}; };
    };
    [type in ('tertiary', 'tertiary_link')] {
      	:shield { fill:@{tertiary_oneway_arrow_color}; };
    };
    [type in ('residential', 'unclassified', 'road', 'service')] {
      	:shield { fill:@{residential_oneway_arrow_color}; };
    };
    [type = 'living_street'] {
      	:shield { fill:@{living_street_oneway_arrow_color}; };
    };
    [type = 'pedestrian'] {
      	:shield { fill:@{pedestrian_oneway_arrow_color}; };
    };
    [type = 'raceway'] {
      	:shield { fill:@{raceway_oneway_arrow_color}; };
    };
    [type in ('footway', 'path')]{
        :shield { fill:@{footway_oneway_arrow_color}; };
      	[horse = 'designated'] {
        	:shield { fill:@{bridleway_oneway_arrow_color}; };
    	};
        [bicycle = 'designated'] {
        	:shield { fill:@{cycleway_oneway_arrow_color}; };
    	};
    };
    [type = 'steps'] {
      	:shield { fill:@{steps_oneway_arrow_color}; };
    };
    [type = 'cycleway'] {
      	:shield { fill:@{cycleway_oneway_arrow_color}; };
    };
    [type = 'track'] {
      	:shield { fill:@{track_oneway_arrow_color}; };
    };
    [type = 'bridleway'] {
      	:shield { fill:@{bridleway_oneway_arrow_color}; };
    };
}TEMPLATE*/


/* Arrows */
[class = 'highway' and type in (
    'motorway',
    'motorway_link',
    'trunk',
    'trunk_link',
    'primary',
    'primary_link',
    'secondary',
    'secondary_link',
    'tertiary',
    'tertiary_link',
    'residential',
    'unclassified',
    'living_street',
    'road',
    'service',
    'pedestrian',
    'raceway',
    'cycleway',
    'footway',
    'path',
    'steps',
    'track',
    'bridleway'
)][oneway in (1, -1)][@sd < 10k] {
  	/* empty label doesn't work, uses opacity 0 instead */
    label: '->';
  	font-opacity: 0;
  	label-priority: z_order;
  
  	font-family: 'monospace';
  	label-follow-line: true;
  	label-repeat: 150;
  	label-max-displacement: 300;
  	label-offset: 0 -4;
  	label-group: true;
  	label-padding: 20;
  	shield: symbol('file://symbols/oneway.svg');
  	[oneway = '-1'] {
      	shield: symbol('file://symbols/oneway-reverse.svg');
      	/*label-offset: 0 4;*/
  	};
  	:shield {
    	fill: #000000;
      	size: 5;
  	};
  	[type in ('motorway', 'motorway_link')] {
    	:shield { fill:#741334; };
    };
    [type in ('trunk', 'trunk_link')] {
    	:shield { fill:#612617; };
    };
    [type in ('primary', 'primary_link')] {
		:shield { fill:#533800; };
    };
    [type in ('secondary', 'secondary_link')] {
        :shield { fill:#444c03; };
    };
    [type in ('tertiary', 'tertiary_link')] {
      	:shield { fill:#424242; };
    };
    [type in ('residential', 'unclassified', 'road', 'service')] {
      	:shield { fill:#555555; };
    };
    [type = 'living_street'] {
      	:shield { fill:#6e6e6e; };
    };
    [type = 'pedestrian'] {
      	:shield { fill:#595959; };
    };
    [type = 'raceway'] {
      	:shield { fill:#c00022; };
    };
    [type in ('footway', 'path')]{
        :shield { fill:#b31806; };
      	[horse = 'designated'] {
        	:shield { fill:#664400; };
    	};
        [bicycle = 'designated'] {
        	:shield { fill:#000080; };
    	};
    };
    [type = 'steps'] {
      	:shield { fill:#b31806; };
    };
    [type = 'cycleway'] {
      	:shield { fill:#000080; };
    };
    [type = 'track'] {
      	:shield { fill:#4d3300; };
    };
    [type = 'bridleway'] {
      	:shield { fill:#664400; };
    };
}