
* {
	sort-by: 'z_order';
}

[@sd < 400k][type in ('mud', 'tidalflat')] {
	fill: #CBB19A;
	fill-opacity: 0.3;
}

[@sd < 50k][type = 'swimming_pool'] {
	fill: #b5d0d0;
	stroke: #2c8d8d;
	stroke-width: 0.5;
}

[@sd < 100k][type = 'playground'] {
 	fill: #dffce2;
  	stroke: #0e9b19;
  	stroke-width: 0.3;
}

[@sd < 800k][type in ('camp_site', 'caravan_site', 'picnic_site')] {
	fill: #def6c0;
  	[@sd < 100k] {
    	stroke: #498400;
    	stroke-width: 0.3;
  	};
}

[@sd < 800k][type = 'quarry'] {
  	fill: #c5c3c3, url('symbols/quarry.png');
  	[@sd < 100k] {
    	stroke: #808080;
    	stroke-width: 0.5;
  	};
}

[@sd < 800k][type in ('vineyard', 'orchard')] {
  	fill: #aedfa3;
  	[@sd < 50k][type = 'vineyard'] {
    	fill: #aedfa3, url('symbols/vineyard.png');
  	};
  	[@sd < 50k][type = 'orchard'] {
    	fill: #aedfa3, url('symbols/orchard.png');
  	};
}

[@sd < 800k][type in ('cemetery', 'grave_yard')] {
  	fill: #aacbaf;
  	[@sd < 50k] {
    	[religion = 'jewish'] {
      		fill: #aacbaf, url('symbols/grave_yard_jewish.png');
    	};
    	[religion = 'christian'] {
      		fill: #aacbaf, url('symbols/grave_yard_christian.png');
    	};
    	[religion = 'INT-generic'] {
      		fill: #aacbaf, url('symbols/grave_yard_generic.png');
    	};
  	};
}

[@sd < 800k][type in ('place_of_worship')] {
  	fill: #cdccc9;
    [@sd < 50k] {
      	stroke: #111111;
		stroke-width: 0.3;
  	};
}

[@sd < 800k][type in ('prison')] {
	fill: url('symbols/grey_vertical_hatch.png');
	stroke: #888;
	stroke-width: 3;
  	stroke-opacity: 0.3;
}

[@sd < 800k][type in ('residential')] {
  	fill: #e0dfdf;
	[@sd < 12.5k] {
    	stroke: #b9b9b9;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 100k][type in ('garages')] {
 	fill: #dfddce;
}

[@sd < 1.5M][type in ('danger_area')] {
  	fill: #FFC0CB;
  	fill-opacity: 0.3;
  	[@sd < 40000] {
    	fill: url('symbols/danger.png');
  	}
}

[@sd < 800k][type in ('park', 'recreation_ground')] {
  	fill: #c8facc;
}

[@sd < 800k][type in ('dog_park')] {
  	fill: #dffce2;
  	[@sd < 12.5k] {
    	fill: #dffce2, url('symbols/dog_park.png');
  	};
}

[@sd < 800k][type in ('golf_course')] {
  	fill: #b5e3b5;
}

[@sd < 800k][type in ('allotments')] {
  	fill: #eecfb3;
  	[@sd < 50k] {
    	fill: #eecfb3, url('symbols/allotments.png');
  	};
}
/* old landusages_forest_fill: #add19e; */
[@sd < 3M][type in ('forest', 'wood')] {
  	fill: #cee3c5;
}

[@sd < 800k][type in ('farmyard')] {
  	fill: #f5dcba;
  	[@sd < 12.5k] {
    	stroke: #d1b48c;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 3M][type in ('farm', 'farmland', 'greenhouse_horticulture')] {
  	fill: #fbecd7;
  	[@sd < 12.5k] {
    	stroke: #d6c4ab;
    	stroke-width: 0.5;
  	};
}

[@sd < 3M][type in ('meadow', 'grassland', 'grass', 'recreation_ground', 'village_green', 'common', 'garden')] {
  	fill: #cdebb0;
}

[@sd < 800k][type in ('retail')] {
  	fill: #ffd6d1;
  	[@sd < 12.5k] {
    	stroke: #d99c95;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('industrial')] {
  	fill: #ebdbe8;
  	[@sd < 12.5k] {
    	stroke: #c6b3c3;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('railway')] {
  	fill: #ebdbe8;
  	[@sd < 12.5k][name <> ''] {
    	stroke: #c6b3c3;
    	stroke-width: 0.5;
  	};
}
/*
duplicate ?
[@sd < 800k][type in ('station')] {
  	fill: #d4aaaa;
}
*/
[@sd < 800k][type in ('station', 'generator')],
[@sd < 100k][type in ('sub_station', 'substation')] {
  	fill: #ebdbe8;
    [@sd < 25k] {
      	fill: #e2cbde;
    };
  	[@sd < 12.5k] {
    	stroke: #bba4b7;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('commercial')] {
  	fill: #f2dad9;
  	[@sd < 12.5k] {
    	stroke: #d1b2b0;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('brownfield', 'construction')] {
  	fill: #c7c7b4;
}

[@sd < 800k][type in ('landfill')] {
  	fill: #b6b592;
}

[@sd < 1.5M][type in ('bare_rock', 'scree', 'shingle')] {
  	fill: #eee5dc;
  	[@sd < 100k] {
    	fill: #eee5dc, url('symbols/scree_overlay.png');
    	[type = 'bare_rock'] {
      		fill: #eee5dc, url('symbols/rock_overlay.png');
    	};
  	};
}

[@sd < 1.5M][type in ('sand')] {
  	fill: #f5e9c6;
}

[@sd < 800k][type in ('heath')] {
  	fill: #d6d99f;
}

[@sd < 800k][type in ('scrub')] {
  	fill: #b5e3b5;
}

[@sd < 3M][type in ('swamp')] {
  	fill: #add19e;
}

[@sd < 800k][type in ('bog', 'string_bog')] {
  	fill: #d6d99f;
}

[@sd < 800k][type in ('marsh', 'wet_meadow')] {
  	fill: #cdebb0;
}

[@sd < 800k][type in ('hospital', 'clinic', 'university', 'college', 'school', 'kindergarten')] {
  	fill: #e0dfdf;
  	[@sd < 200k] {
    	fill: #f0f0d8;
      	/* not in official osm */
    	/*[@sd < 100k] {
      		stroke: #A52A2A;
      		stroke-width: 0.3;
    	};*/
  	};
}

[@sd < 800k][type in ('parking', 'bicycle_parking', 'motorcycle_parking')] {
  	fill: #f7efb7;
  	[@sd < 25k] {
    	[@sd < 100k] {
          	stroke: #e2c600;
			stroke-width: 0.3;
    	};
  	};
}

[@sd < 800k][type in ('apron')] {
  	fill: #e9d1ff;
}

[@sd < 800k][type in ('aerodrome')] {
  	fill: #e9e7e2;
}

[@sd < 800k][type in ('beach', 'shoal')] {
  	fill: #fff1ba;
}

[@sd < 800k][type in ('service', 'rest_area')] {
  	fill: #efc8c8;
}

[@sd < 800k][type in ('sports_centre', 'stadium')] {
  	fill: #f0f0d8;
}

[@sd < 800k][type in ('track', 'pitch')] {
  	fill: #aae0cb;
  	[@sd < 25k] {
     	stroke: #28c98a;
     	stroke-width: 0.5;
  	};
}