/*NAMECoast LineNAME*//*TEMPLATE@coastline_stroke: #aad3df[dr20, st5];

[@sd >= 5M] {
  	stroke: @{coastline_stroke};
  	stroke-width: 0.9;
}TEMPLATE*/
[@sd >= 5M] {
  	stroke: #5ab0c9;
  	stroke-width: 0.9;
}