/*NAMELandusagesNAME*//*TEMPLATE@landusages_mud_fill: #CBB19A;
@landusages_swimming_pool_fill: #b5d0d0;
@landusages_swimming_pool_stroke: @landusages_swimming_pool_fill[dr40, st30];
@landusages_playground_color: #c8facc;
@landusages_playground_fill: @landusages_playground_color[lg5];
@landusages_playground_stroke: @landusages_playground_color[lg5, dr60];
@landusages_site_fill: #def6c0;
@landusages_site_stroke: @landusages_site_fill[dr60, st30];
@landusages_quarry_fill: #c5c3c3;
@landusages_quarry_stroke: #808080;
@landusages_vineyard_fill:  #aedfa3;
@landusages_cemetery_fill:  #aacbaf;
@landusages_place_of_worship_fill: #cdccc9;
@landusages_place_of_worship_stroke: #111111;
@landusages_prison_stroke: #888;
@landusages_residential_fill: #e0dfdf;
@landusages_residential_stroke: #b9b9b9;
@landusages_garages_fill: #dfddce;
@landusages_danger_area_fill: #FFC0CB;
@landusages_park_fill: #c8facc;
@landusages_dog_park_fill: @landusages_park_fill[lg5];
@landusages_golf_course_fill: #b5e3b5;
@landusages_allotments_fill: #eecfb3;
@landusages_forest_fill: #cee3c5;
@landusages_farmyard_fill: #f5dcba;
@landusages_farmyard_stroke: #d1b48c;
@landusages_farm_fill: #fbecd7;
@landusages_farm_stroke: #d6c4ab;
@landusages_grass_fill: #cdebb0;
@landusages_retail_fill: #ffd6d1;
@landusages_retail_stroke: #d99c95;
@landusages_industrial_fill: #ebdbe8;
@landusages_industrial_stroke: #c6b3c3;
@landusages_station_color: #ebdbe8;
@landusages_station_fill: @landusages_station_color[dr5];
@landusages_station_stroke: @landusages_industrial_stroke[dr5];
@landusages_commercial_fill: #f2dad9;
@landusages_commercial_stroke: #d1b2b0;
@landusages_brownfield_fill: #c7c7b4;
@landusages_landfill_fill: #b6b592;
@landusages_bare_rock_fill: #eee5dc;
@landusages_sand_fill: #f5e9c6;
@landusages_heath_fill: #d6d99f;
@landusages_scrub_fill: #b5e3b5;
@landusages_swamp_fill: #add19e;
@landusages_bog_fill: #d6d99f;
@landusages_marsh_fill: #cdebb0;
@landusages_hospital_color: #e0dfdf;
@landusages_hospital_fill: #f0f0d8;
@landusages_hospital_stroke: #A52A2A;
@landusages_parking_fill: #f7efb7;
@landusages_parking_stroke: @landusages_parking_fill[dr40, st20];
@landusages_apron_fill: #e9d1ff;
@landusages_aerodrome_fill: #e9e7e2;
@landusages_beach_fill: #fff1ba;
@landusages_service_fill: #efc8c8;
@landusages_stadium_fill: #f0f0d8;
@landusages_pitch_fill: #aae0cb;
@landusages_pitch_stroke: @landusages_pitch_fill[dr30, st20];

* {
	sort-by: 'z_order';
}

[@sd < 400k][type in ('mud', 'tidalflat')] {
	fill: @{landusages_mud_fill};
	fill-opacity: 0.3;
}

[@sd < 50k][type = 'swimming_pool'] {
	fill: @{landusages_swimming_pool_fill};
	stroke: @{landusages_swimming_pool_stroke};
	stroke-width: 0.5;
}

[@sd < 100k][type = 'playground'] {
 	fill: @{landusages_playground_fill};
  	stroke: @{landusages_playground_stroke};
  	stroke-width: 0.3;
}

[@sd < 800k][type in ('camp_site', 'caravan_site', 'picnic_site')] {
	fill: @{landusages_site_fill};
  	[@sd < 100k] {
    	stroke: @{landusages_site_stroke};
    	stroke-width: 0.3;
  	};
}

[@sd < 800k][type = 'quarry'] {
  	fill: @{landusages_quarry_fill}, url('symbols/quarry.png');
  	[@sd < 100k] {
    	stroke: @{landusages_quarry_stroke};
    	stroke-width: 0.5;
  	};
}

[@sd < 800k][type in ('vineyard', 'orchard')] {
  	fill: @{landusages_vineyard_fill};
  	[@sd < 50k][type = 'vineyard'] {
    	fill: @{landusages_vineyard_fill}, url('symbols/vineyard.png');
  	};
  	[@sd < 50k][type = 'orchard'] {
    	fill: @{landusages_vineyard_fill}, url('symbols/orchard.png');
  	};
}

[@sd < 800k][type in ('cemetery', 'grave_yard')] {
  	fill: @{landusages_cemetery_fill};
  	[@sd < 50k] {
    	[religion = 'jewish'] {
      		fill: @{landusages_cemetery_fill}, url('symbols/grave_yard_jewish.png');
    	};
    	[religion = 'christian'] {
      		fill: @{landusages_cemetery_fill}, url('symbols/grave_yard_christian.png');
    	};
    	[religion = 'INT-generic'] {
      		fill: @{landusages_cemetery_fill}, url('symbols/grave_yard_generic.png');
    	};
  	};
}

[@sd < 800k][type in ('place_of_worship')] {
  	fill: @{landusages_place_of_worship_fill};
    [@sd < 50k] {
      	stroke: @{landusages_place_of_worship_stroke};
		stroke-width: 0.3;
  	};
}

[@sd < 800k][type in ('prison')] {
	fill: url('symbols/grey_vertical_hatch.png');
	stroke: @{landusages_prison_stroke};
	stroke-width: 3;
  	stroke-opacity: 0.3;
}

[@sd < 800k][type in ('residential')] {
  	fill: @{landusages_residential_fill};
	[@sd < 12.5k] {
    	stroke: @{landusages_residential_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 100k][type in ('garages')] {
 	fill: @{landusages_garages_fill};
}

[@sd < 1.5M][type in ('danger_area')] {
  	fill: @{landusages_danger_area_fill};
  	fill-opacity: 0.3;
  	[@sd < 40000] {
    	fill: url('symbols/danger.png');
  	}
}

[@sd < 800k][type in ('park', 'recreation_ground')] {
  	fill: @{landusages_park_fill};
}

[@sd < 800k][type in ('dog_park')] {
  	fill: @{landusages_dog_park_fill};
  	[@sd < 12.5k] {
    	fill: @{landusages_dog_park_fill}, url('symbols/dog_park.png');
  	};
}

[@sd < 800k][type in ('golf_course')] {
  	fill: @{landusages_golf_course_fill};
}

[@sd < 800k][type in ('allotments')] {
  	fill: @{landusages_allotments_fill};
  	[@sd < 50k] {
    	fill: @{landusages_allotments_fill}, url('symbols/allotments.png');
  	};
}
/$ old landusages_forest_fill: #add19e; $/
[@sd < 3M][type in ('forest', 'wood')] {
  	fill: @{landusages_forest_fill};
}

[@sd < 800k][type in ('farmyard')] {
  	fill: @{landusages_farmyard_fill};
  	[@sd < 12.5k] {
    	stroke: @{landusages_farmyard_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 3M][type in ('farm', 'farmland', 'greenhouse_horticulture')] {
  	fill: @{landusages_farm_fill};
  	[@sd < 12.5k] {
    	stroke: @{landusages_farm_stroke};
    	stroke-width: 0.5;
  	};
}

[@sd < 3M][type in ('meadow', 'grassland', 'grass', 'recreation_ground', 'village_green', 'common', 'garden')] {
  	fill: @{landusages_grass_fill};
}

[@sd < 800k][type in ('retail')] {
  	fill: @{landusages_retail_fill};
  	[@sd < 12.5k] {
    	stroke: @{landusages_retail_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('industrial')] {
  	fill: @{landusages_industrial_fill};
  	[@sd < 12.5k] {
    	stroke: @{landusages_industrial_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('railway')] {
  	fill: @{landusages_industrial_fill};
  	[@sd < 12.5k][name <> ''] {
    	stroke: @{landusages_industrial_stroke};
    	stroke-width: 0.5;
  	};
}
/$
duplicate ?
[@sd < 800k][type in ('station')] {
  	fill: #d4aaaa;
}
$/
[@sd < 800k][type in ('station', 'generator')],
[@sd < 100k][type in ('sub_station', 'substation')] {
  	fill: @{landusages_station_color};
    [@sd < 25k] {
      	fill: @{landusages_station_fill};
    };
  	[@sd < 12.5k] {
    	stroke: @{landusages_station_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('commercial')] {
  	fill: @{landusages_commercial_fill};
  	[@sd < 12.5k] {
    	stroke: @{landusages_commercial_stroke};
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('brownfield', 'construction')] {
  	fill: @{landusages_brownfield_fill};
}

[@sd < 800k][type in ('landfill')] {
  	fill: @{landusages_landfill_fill};
}

[@sd < 1.5M][type in ('bare_rock', 'scree', 'shingle')] {
  	fill: @{landusages_bare_rock_fill};
  	[@sd < 100k] {
    	fill: @{landusages_bare_rock_fill}, url('symbols/scree_overlay.png');
    	[type = 'bare_rock'] {
      		fill: @{landusages_bare_rock_fill}, url('symbols/rock_overlay.png');
    	};
  	};
}

[@sd < 1.5M][type in ('sand')] {
  	fill: @{landusages_sand_fill};
}

[@sd < 800k][type in ('heath')] {
  	fill: @{landusages_heath_fill};
}

[@sd < 800k][type in ('scrub')] {
  	fill: @{landusages_scrub_fill};
}

[@sd < 3M][type in ('swamp')] {
  	fill: @{landusages_swamp_fill};
}

[@sd < 800k][type in ('bog', 'string_bog')] {
  	fill: @{landusages_bog_fill};
}

[@sd < 800k][type in ('marsh', 'wet_meadow')] {
  	fill: @{landusages_marsh_fill};
}

[@sd < 800k][type in ('hospital', 'clinic', 'university', 'college', 'school', 'kindergarten')] {
  	fill: @{landusages_hospital_color};
  	[@sd < 200k] {
    	fill: @{landusages_hospital_fill};
      	/$ not in official osm $/
    	/$[@sd < 100k] {
      		stroke: @{landusages_hospital_stroke};
      		stroke-width: 0.3;
    	};$/
  	};
}

[@sd < 800k][type in ('parking', 'bicycle_parking', 'motorcycle_parking')] {
  	fill: @{landusages_parking_fill};
  	[@sd < 25k] {
    	[@sd < 100k] {
          	stroke: @{landusages_parking_stroke};
			stroke-width: 0.3;
    	};
  	};
}

[@sd < 800k][type in ('apron')] {
  	fill: @{landusages_apron_fill};
}

[@sd < 800k][type in ('aerodrome')] {
  	fill: @{landusages_aerodrome_fill};
}

[@sd < 800k][type in ('beach', 'shoal')] {
  	fill: @{landusages_beach_fill};
}

[@sd < 800k][type in ('service', 'rest_area')] {
  	fill: @{landusages_service_fill};
}

[@sd < 800k][type in ('sports_centre', 'stadium')] {
  	fill: @{landusages_stadium_fill};
}

[@sd < 800k][type in ('track', 'pitch')] {
  	fill: @{landusages_pitch_fill};
  	[@sd < 25k] {
     	stroke: @{landusages_pitch_stroke};
     	stroke-width: 0.5;
  	};
}TEMPLATE*/
* {
	sort-by: 'z_order';
}

[@sd < 400k][type in ('mud', 'tidalflat')] {
	fill: #CBB19A;
	fill-opacity: 0.3;
}

[@sd < 50k][type = 'swimming_pool'] {
	fill: #b5d0d0;
	stroke: #2c8d8d;
	stroke-width: 0.5;
}

[@sd < 100k][type = 'playground'] {
 	fill: #dffce2;
  	stroke: #0e9b19;
  	stroke-width: 0.3;
}

[@sd < 800k][type in ('camp_site', 'caravan_site', 'picnic_site')] {
	fill: #def6c0;
  	[@sd < 100k] {
    	stroke: #498400;
    	stroke-width: 0.3;
  	};
}

[@sd < 800k][type = 'quarry'] {
  	fill: #c5c3c3, url('symbols/quarry.png');
  	[@sd < 100k] {
    	stroke: #808080;
    	stroke-width: 0.5;
  	};
}

[@sd < 800k][type in ('vineyard', 'orchard')] {
  	fill: #aedfa3;
  	[@sd < 50k][type = 'vineyard'] {
    	fill: #aedfa3, url('symbols/vineyard.png');
  	};
  	[@sd < 50k][type = 'orchard'] {
    	fill: #aedfa3, url('symbols/orchard.png');
  	};
}

[@sd < 800k][type in ('cemetery', 'grave_yard')] {
  	fill: #aacbaf;
  	[@sd < 50k] {
    	[religion = 'jewish'] {
      		fill: #aacbaf, url('symbols/grave_yard_jewish.png');
    	};
    	[religion = 'christian'] {
      		fill: #aacbaf, url('symbols/grave_yard_christian.png');
    	};
    	[religion = 'INT-generic'] {
      		fill: #aacbaf, url('symbols/grave_yard_generic.png');
    	};
  	};
}

[@sd < 800k][type in ('place_of_worship')] {
  	fill: #cdccc9;
    [@sd < 50k] {
      	stroke: #111111;
		stroke-width: 0.3;
  	};
}

[@sd < 800k][type in ('prison')] {
	fill: url('symbols/grey_vertical_hatch.png');
	stroke: #888;
	stroke-width: 3;
  	stroke-opacity: 0.3;
}

[@sd < 800k][type in ('residential')] {
  	fill: #e0dfdf;
	[@sd < 12.5k] {
    	stroke: #b9b9b9;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 100k][type in ('garages')] {
 	fill: #dfddce;
}

[@sd < 1.5M][type in ('danger_area')] {
  	fill: #FFC0CB;
  	fill-opacity: 0.3;
  	[@sd < 40000] {
    	fill: url('symbols/danger.png');
  	}
}

[@sd < 800k][type in ('park', 'recreation_ground')] {
  	fill: #c8facc;
}

[@sd < 800k][type in ('dog_park')] {
  	fill: #dffce2;
  	[@sd < 12.5k] {
    	fill: #dffce2, url('symbols/dog_park.png');
  	};
}

[@sd < 800k][type in ('golf_course')] {
  	fill: #b5e3b5;
}

[@sd < 800k][type in ('allotments')] {
  	fill: #eecfb3;
  	[@sd < 50k] {
    	fill: #eecfb3, url('symbols/allotments.png');
  	};
}
/* old landusages_forest_fill: #add19e; */
[@sd < 3M][type in ('forest', 'wood')] {
  	fill: #cee3c5;
}

[@sd < 800k][type in ('farmyard')] {
  	fill: #f5dcba;
  	[@sd < 12.5k] {
    	stroke: #d1b48c;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 3M][type in ('farm', 'farmland', 'greenhouse_horticulture')] {
  	fill: #fbecd7;
  	[@sd < 12.5k] {
    	stroke: #d6c4ab;
    	stroke-width: 0.5;
  	};
}

[@sd < 3M][type in ('meadow', 'grassland', 'grass', 'recreation_ground', 'village_green', 'common', 'garden')] {
  	fill: #cdebb0;
}

[@sd < 800k][type in ('retail')] {
  	fill: #ffd6d1;
  	[@sd < 12.5k] {
    	stroke: #d99c95;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('industrial')] {
  	fill: #ebdbe8;
  	[@sd < 12.5k] {
    	stroke: #c6b3c3;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('railway')] {
  	fill: #ebdbe8;
  	[@sd < 12.5k][name <> ''] {
    	stroke: #c6b3c3;
    	stroke-width: 0.5;
  	};
}
/*
duplicate ?
[@sd < 800k][type in ('station')] {
  	fill: #d4aaaa;
}
*/
[@sd < 800k][type in ('station', 'generator')],
[@sd < 100k][type in ('sub_station', 'substation')] {
  	fill: #ebdbe8;
    [@sd < 25k] {
      	fill: #e2cbde;
    };
  	[@sd < 12.5k] {
    	stroke: #bba4b7;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('commercial')] {
  	fill: #f2dad9;
  	[@sd < 12.5k] {
    	stroke: #d1b2b0;
    	stroke-width: 0.5;
    	[name <> ''] {
      		stroke-width: 0.7;
    	};
  	};
}

[@sd < 800k][type in ('brownfield', 'construction')] {
  	fill: #c7c7b4;
}

[@sd < 800k][type in ('landfill')] {
  	fill: #b6b592;
}

[@sd < 1.5M][type in ('bare_rock', 'scree', 'shingle')] {
  	fill: #eee5dc;
  	[@sd < 100k] {
    	fill: #eee5dc, url('symbols/scree_overlay.png');
    	[type = 'bare_rock'] {
      		fill: #eee5dc, url('symbols/rock_overlay.png');
    	};
  	};
}

[@sd < 1.5M][type in ('sand')] {
  	fill: #f5e9c6;
}

[@sd < 800k][type in ('heath')] {
  	fill: #d6d99f;
}

[@sd < 800k][type in ('scrub')] {
  	fill: #b5e3b5;
}

[@sd < 3M][type in ('swamp')] {
  	fill: #add19e;
}

[@sd < 800k][type in ('bog', 'string_bog')] {
  	fill: #d6d99f;
}

[@sd < 800k][type in ('marsh', 'wet_meadow')] {
  	fill: #cdebb0;
}

[@sd < 800k][type in ('hospital', 'clinic', 'university', 'college', 'school', 'kindergarten')] {
  	fill: #e0dfdf;
  	[@sd < 200k] {
    	fill: #f0f0d8;
      	/* not in official osm */
    	/*[@sd < 100k] {
      		stroke: #A52A2A;
      		stroke-width: 0.3;
    	};*/
  	};
}

[@sd < 800k][type in ('parking', 'bicycle_parking', 'motorcycle_parking')] {
  	fill: #f7efb7;
  	[@sd < 25k] {
    	[@sd < 100k] {
          	stroke: #e2c600;
			stroke-width: 0.3;
    	};
  	};
}

[@sd < 800k][type in ('apron')] {
  	fill: #e9d1ff;
}

[@sd < 800k][type in ('aerodrome')] {
  	fill: #e9e7e2;
}

[@sd < 800k][type in ('beach', 'shoal')] {
  	fill: #fff1ba;
}

[@sd < 800k][type in ('service', 'rest_area')] {
  	fill: #efc8c8;
}

[@sd < 800k][type in ('sports_centre', 'stadium')] {
  	fill: #f0f0d8;
}

[@sd < 800k][type in ('track', 'pitch')] {
  	fill: #aae0cb;
  	[@sd < 25k] {
     	stroke: #28c98a;
     	stroke-width: 0.5;
  	};
}