/*NAMEAdmin LabelsNAME*//*TEMPLATE[admin_level = 2][@sd < 100000000] {
  label: [name];
  label-anchor: 0.5 0.5;
  font-fill: darken(#ac46ac, 15%);
  font-size: [interpolate(env('wms_scale_denominator', 100000000), 800000, 16, 100000000, 12)];
  font-family: 'Noto Sans';
  halo-color: white;
  halo-radius: 1.5;
  halo-opacity: 0.8;
  -gt-label-padding: 7;
  -gt-label-auto-wrap: 75;
}

[admin_level = 4][@sd < 50000000] {
  label: [name];
  label-anchor: 0.5 0.5;
  font-fill: desaturate(darken(#ac46ac, 15%), 20%);
  font-size: 12;
  font-family: 'Noto Sans';
  font-style: italic;
  halo-color: white;
  halo-radius: 1.5;
  halo-opacity: 0.8;
  -gt-label-padding: 7;
  -gt-label-auto-wrap: 75;

}TEMPLATE*/[admin_level = 2][@sd < 100000000] {
  label: [name];
  label-anchor: 0.5 0.5;
  font-fill: darken(#ac46ac, 15%);
  font-size: [interpolate(env('wms_scale_denominator', 100000000), 800000, 16, 100000000, 12)];
  font-family: 'Noto Sans';
  halo-color: white;
  halo-radius: 1.5;
  halo-opacity: 0.8;
  -gt-label-padding: 7;
  -gt-label-auto-wrap: 75;
}

[admin_level = 4][@sd < 50000000] {
  label: [name];
  label-anchor: 0.5 0.5;
  font-fill: desaturate(darken(#ac46ac, 15%), 20%);
  font-size: 12;
  font-family: 'Noto Sans';
  font-style: italic;
  halo-color: white;
  halo-radius: 1.5;
  halo-opacity: 0.8;
  -gt-label-padding: 7;
  -gt-label-auto-wrap: 75;

}