/*NAMEAddressNAME*//*TEMPLATE@address_fill: #666666;
@address_halo_fill: #ffffff;

[@sd < 6k] {
	font-family: 'Noto Sans';
  	font-fill: @{address_fill};
  	font-size: 10;
  	halo-color: @{address_halo_fill};
  	halo-radius: 1;
  	halo-opacity: 0.6;
  	label: [type];
    label-anchor: 0.5 0.5;
    -gt-label-auto-wrap: 50;
  	/$ sbould be [type]'\n'[addr_housename]$/
  	[addr_housename <> ''] {
  		label: [type]' '[addr_housename];
  	};
	[addr_unit <> ''] {
        label: [type]' '[addr_unit];
      	/$ sbould be [addr_housenumber]' '[addr_unit]'\n'[addr_housename]$/
        [addr_housename <> ''] {
          	label: [type]' '[addr_unit]' '[addr_housename];
        };
    };
  	[@sd < 3k] {
        halo-radius: 1.25;
        [addr_unit <> ''] {
          	label: [addr_unit];
        };
    };
    [@sd < 1k] {
        font-size: 11;
        -gt-label-auto-wrap: 40;
    };
}

/$
#building-text {
  [zoom >= 14][way_pixels > 3000],
  [zoom >= 17] {
    text-name: "[name]";
    text-placement: interior;
    text-face-name: @book-fonts;
    text-fill: #444;
    text-halo-radius: @standard-halo-radius;
    text-halo-fill: @standard-halo-fill;
    text-size: 11;
    text-wrap-width: 22; // 2.0 em
    text-line-spacing: -1.65; // -0.15 em
  }
}
#interpolation {
  [zoom >= 17] {
    line-color: @address-color;
    line-width: 1;
    line-dasharray: 2,4;
  }
}
$/TEMPLATE*/
[@sd < 6k] {
	font-family: 'Noto Sans';
  	font-fill: #666666;
  	font-size: 10;
  	halo-color: #ffffff;
  	halo-radius: 1;
  	halo-opacity: 0.6;
  	label: [type];
    label-anchor: 0.5 0.5;
    -gt-label-auto-wrap: 50;
  	/* sbould be [type]'\n'[addr_housename]*/
  	[addr_housename <> ''] {
  		label: [type]' '[addr_housename];
  	};
	[addr_unit <> ''] {
        label: [type]' '[addr_unit];
      	/* sbould be [addr_housenumber]' '[addr_unit]'\n'[addr_housename]*/
        [addr_housename <> ''] {
          	label: [type]' '[addr_unit]' '[addr_housename];
        };
    };
  	[@sd < 3k] {
        halo-radius: 1.25;
        [addr_unit <> ''] {
          	label: [addr_unit];
        };
    };
    [@sd < 1k] {
        font-size: 11;
        -gt-label-auto-wrap: 40;
    };
}

/*
#building-text {
  [zoom >= 14][way_pixels > 3000],
  [zoom >= 17] {
    text-name: "[name]";
    text-placement: interior;
    text-face-name: @book-fonts;
    text-fill: #444;
    text-halo-radius: @standard-halo-radius;
    text-halo-fill: @standard-halo-fill;
    text-size: 11;
    text-wrap-width: 22; // 2.0 em
    text-line-spacing: -1.65; // -0.15 em
  }
}
#interpolation {
  [zoom >= 17] {
    line-color: @address-color;
    line-width: 1;
    line-dasharray: 2,4;
  }
}
*/