/*NAMEStateNAME*//*TEMPLATE@state_fill: #ac46ac[dr15];
@state_halo_color: #ffffff;
@state_exclude_iso: 'BEL', 'SYR';

/$ calculate with area size $/
[@sd < 100000000][@sd > 250k][ISO_A3 not in (@{state_exclude_iso})] {
	label: [NAME_LONG];
	label-anchor: 0.5 0.5;
	font-fill: @{state_fill};
	font-size: [interpolate(env('wms_scale_denominator', 100000000), 800000, 12, 100000000, 10)];
	font-family: 'Noto Sans';
	halo-color: @{state_halo_color};
  	halo-radius: 1.5;
	halo-opacity: 0.8;
	-gt-label-padding: 7;
	-gt-label-auto-wrap: 90;
}TEMPLATE*/
/* calculate with area size */
[@sd < 100000000][@sd > 250k][ISO_A3 not in ('BEL', 'SYR')] {
	label: [NAME_LONG];
	label-anchor: 0.5 0.5;
	font-fill: #763076;
	font-size: [interpolate(env('wms_scale_denominator', 100000000), 800000, 12, 100000000, 10)];
	font-family: 'Noto Sans';
	halo-color: #ffffff;
  	halo-radius: 1.5;
	halo-opacity: 0.8;
	-gt-label-padding: 7;
	-gt-label-auto-wrap: 90;
}