/*NAMEBuildingsNAME*//*TEMPLATE@buildings_color: @buildings_fill[dr4];
@buildings_fill: #d9d0c9;
@buildings_stroke: @buildings_fill[dr15];
@buildings_terminal_fill: #cc99ff;
@buildings_terminal_stroke: @buildings_terminal_fill[dr15];
@buildings_highlight_fill: @buildings_fill[dr20];
@buildings_highlight_stroke: @buildings_fill[dr50];

/$ @title gold polygon $/
[@sd < 100k] {
  	fill: @{buildings_color};
	stroke-width: 0.5;
	[@sd < 25k] {
		fill: @{buildings_fill};
		stroke: @{buildings_stroke};
	};
  	/$[aeroway = 'terminal'] {
    	fill: @{buildings_terminal_fill};
    	[@sd < 25k] {
      		stroke: @{buildings_terminal_stroke};
		};
	};$/
  	[amenity = 'place_of_worship'],
	[building = 'train_station'],
  	[aeroway = 'terminal'] {
		fill: @{buildings_highlight_fill};
      	[@sd < 25k] {
      		stroke-width: 0.75;
      		stroke: @{buildings_highlight_stroke};
    	};
  	};
}TEMPLATE*/
/* @title gold polygon */
[@sd < 100k] {
  	fill: #d1c6bd;
	stroke-width: 0.5;
	[@sd < 25k] {
		fill: #d9d0c9;
		stroke: #b9a99c;
	};
  	/*[aeroway = 'terminal'] {
    	fill: #cc99ff;
    	[@sd < 25k] {
      		stroke: #a64dff;
		};
	};*/
  	[amenity = 'place_of_worship'],
	[building = 'train_station'],
  	[aeroway = 'terminal'] {
		fill: #af9c8d;
      	[@sd < 25k] {
      		stroke-width: 0.75;
      		stroke: #605043;
    	};
  	};
}