/*NAMETransport PointsNAME*//*TEMPLATE@transport_junction_text: #960000;

[type = 'motorway_junction'][@sd <= 400k] {
  	label: [ref];
  	font-fill: @{transport_junction_text};
  	halo-radius: 1;
  	halo-color: #ffffff;
  	font-family: 'Noto Sans Italic';
  	font-size: 10;
  	label-anchor: 0.5 0.5;
  	label-group: true;
  	-gt-label-auto-wrap: 50;
  	[@sd <= 200k] {
      	[name is not null][ref is null] {
      		label: [name];
      	};
      	/$ should be [name]'\n'[ref] $/
      	[name is not null][ref is not null] {
      		label: [name]' '[ref];
      	};
  		label: [ref];
  	};
  
  	[@sd <= 25k] { 
  		font-size: 11;
  	};
}TEMPLATE*/
[type = 'motorway_junction'][@sd <= 400k] {
  	label: [ref];
  	font-fill: #960000;
  	halo-radius: 1;
  	halo-color: #ffffff;
  	font-family: 'Noto Sans Italic';
  	font-size: 10;
  	label-anchor: 0.5 0.5;
  	label-group: true;
  	-gt-label-auto-wrap: 50;
  	[@sd <= 200k] {
      	[name is not null][ref is null] {
      		label: [name];
      	};
      	/* should be [name]'\n'[ref] */
      	[name is not null][ref is not null] {
      		label: [name]' '[ref];
      	};
  		label: [ref];
  	};
  
  	[@sd <= 25k] { 
  		font-size: 11;
  	};
}