


/* Arrows */
[class = 'highway' and type in (
    'motorway',
    'motorway_link',
    'trunk',
    'trunk_link',
    'primary',
    'primary_link',
    'secondary',
    'secondary_link',
    'tertiary',
    'tertiary_link',
    'residential',
    'unclassified',
    'living_street',
    'road',
    'service',
    'pedestrian',
    'raceway',
    'cycleway',
    'footway',
    'path',
    'steps',
    'track',
    'bridleway'
)][oneway in (1, -1)][@sd < 10k] {
  	/* empty label doesn't work, uses opacity 0 instead */
    label: '->';
  	font-opacity: 0;
  	label-priority: z_order;
  
  	font-family: 'monospace';
  	label-follow-line: true;
  	label-repeat: 150;
  	label-max-displacement: 300;
  	label-offset: 0 -4;
  	label-group: true;
  	label-padding: 20;
  	shield: symbol('file://symbols/oneway.svg');
  	[oneway = '-1'] {
      	shield: symbol('file://symbols/oneway-reverse.svg');
      	/*label-offset: 0 4;*/
  	};
  	:shield {
    	fill: #000000;
      	size: 5;
  	};
  	[type in ('motorway', 'motorway_link')] {
    	:shield { fill:#741334; };
    };
    [type in ('trunk', 'trunk_link')] {
    	:shield { fill:#612617; };
    };
    [type in ('primary', 'primary_link')] {
		:shield { fill:#533800; };
    };
    [type in ('secondary', 'secondary_link')] {
        :shield { fill:#444c03; };
    };
    [type in ('tertiary', 'tertiary_link')] {
      	:shield { fill:#424242; };
    };
    [type in ('residential', 'unclassified', 'road', 'service')] {
      	:shield { fill:#555555; };
    };
    [type = 'living_street'] {
      	:shield { fill:#6e6e6e; };
    };
    [type = 'pedestrian'] {
      	:shield { fill:#595959; };
    };
    [type = 'raceway'] {
      	:shield { fill:#c00022; };
    };
    [type in ('footway', 'path')]{
        :shield { fill:#b31806; };
      	[horse = 'designated'] {
        	:shield { fill:#664400; };
    	};
        [bicycle = 'designated'] {
        	:shield { fill:#000080; };
    	};
    };
    [type = 'steps'] {
      	:shield { fill:#b31806; };
    };
    [type = 'cycleway'] {
      	:shield { fill:#000080; };
    };
    [type = 'track'] {
      	:shield { fill:#4d3300; };
    };
    [type = 'bridleway'] {
      	:shield { fill:#664400; };
    };
}