






[@sd <= 800k][type in (
	'motorway',
  	'trunk',
  	'primary',
  	'secondary',
  	'tertiary'
)] {
  	label-group: true;
    font-family: 'Noto Sans';
    label-anchor: 0.5 0.5;
  	label-group: true;
    font-size: 10;
  	shield: symbol(square);
  	shield-resize: stretch;
  	shield-margin: 4;
  	label-repeat: 150;
  	label-max-displacement: 300;
}

[class = 'highway'][@sd > 100k][length(ref) <= 11] {
	[type = 'motorway'][@sd <= 800k],
  	[type = 'trunk'][@sd <= 400k],
  	[type = 'primary'][@sd <= 400k],
  	[type = 'secondary'][@sd <= 200k] {
  		label: [ref];
      	
      	[@sd <= 12.5k] {
            :shield {size: 16;};
        };
        [@sd <= 3k] {
            :shield {size: 17;};
        };
      
      	[type = 'motorway'] {
          	font-fill: #620728;
          	:shield {
              	fill: #eccdd1;
              	stroke: #d39da5;
          	};
      	};
      
      	[type = 'trunk'] {
          	font-fill: #5d1b0b;
          	:shield {
              	fill: #f2d7ce;
              	stroke: #d7a899;
          	};
      	};
      
      	[type = 'primary'] {
          	font-fill: #4c2e00;
          	:shield {
              	fill: #f3e3cf;
              	stroke: #d1b795;
          	};
      	};
      
      	[type = 'secondary'] {
          	font-fill: #323b00;
          	:shield {
              	fill: #eeefd7;
              	stroke: #c4c69c;
          	};
      	};
  	};
}


[@sd <= 100k][class = 'highway' and type in (
	'motorway',
  	'trunk',
  	'primary',
  	'secondary',
  	'tertiary'
)] {
	label: [ref];
  	
  	[type = 'motorway'] {
        font-fill: #620728;
        :shield {
          	fill: #eccdd1;
          	stroke: #d39da5;
        };
    };

    [type = 'trunk'] {
      	font-fill: #5d1b0b;
      	:shield {
        	fill: #f2d7ce;
			stroke: #d7a899;
      	};
    };

    [type = 'primary'] {
      	font-fill: #4c2e00;
      	:shield {
        	fill: #f3e3cf;
        	stroke: #d1b795;
      	};
    };

    [type = 'secondary'] {
      	font-fill: #323b00;
      	:shield {
        	fill: #eeefd7;
        	stroke: #c4c69c;
      	};
    };
  	[type = 'tertiary'] {
      	font-fill: #3b3b3b;
      	:shield {
        	fill: #f1f1f1;
        	stroke: #c6c6c6;
      	};
    };
}

[@sd <= 25k] {
	[class = 'highway'] {
      	
        [type in (
          'unclassified',
          'residential'
        )] {
          	font-family: 'Noto Sans';
            label: [ref];
            font-fill: #333333;
            halo-radius: 2;
            halo-color: #ffffff;
            label-repeat: 150;
            label-max-displacement: 300;
            label-group: true;
          	font-size: 8;
          	
          	[@sd <= 12.5k] {
          		font-size: 9;
          	};
          	[@sd <= 3k] {
          		font-size: 10;
          	};
        };
      
      	[type in (
          'runway',
          'taxiway'
        )] {
          	font-family: 'Noto Sans';
            label: [ref];
            font-fill: #333333;
            halo-radius: 2;
            halo-color: #ffffff;
            label-repeat: 150;
            label-max-displacement: 300;
            label-group: true;
          	font-size: 10;
        }
  	};
}


