/*NAMERoads LabelNAME*//*TEMPLATE@motorway_casing: #dc2a67;
@trunk_casing: #c84e2f;
@primary_casing: #a06b00;
@secondary_casing: #707d05;
@tertiary_casing: #8f8f8f;
@residential_casing: #bbb;
@pedestrian_casing: #999;
@raceway_fill: pink;
@footway_fill: salmon;
@steps_fill: salmon;
@cycleway_fill: blue;
@track_fill: #996600;

@service_fill: #ffffff;


@motorway_fill: #e892a2;
@trunk_fill: #f9b29c;
@primary_fill: #fcd6a4;
@secondary_fill: #f7fabf;
@tertiary_fill: #ffffff;
@residential_fill: #ffffff;
@living_street_fill: #ededed;
@pedestrian_fill: #dddde8;

@motorway_oneway_arrow_color: @motorway_casing[dr25];
@trunk_oneway_arrow_color:        @trunk_casing[dr25];
@primary_oneway_arrow_color:      @primary_casing[dr15];
@secondary_oneway_arrow_color:    @secondary_casing[dr10];
@tertiary_oneway_arrow_color:     @tertiary_casing[dr30];
@residential_oneway_arrow_color:  @residential_casing[dr40];
@living_street_oneway_arrow_color: @residential_casing[dr30];
@pedestrian_oneway_arrow_color:   @pedestrian_casing[dr25];
@raceway_oneway_arrow_color:      @raceway_fill[dr50];
@footway_oneway_arrow_color:      @footway_fill[dr35];
@steps_oneway_arrow_color:        @steps_fill[dr35];
@cycleway_oneway_arrow_color:     @cycleway_fill[dr25];
@track_oneway_arrow_color:        @track_fill[dr15];
@bridleway_oneway_arrow_color:    @track_fill[dr10];

* {
  	sort-by: 'z_order';
  	label-follow-line: true;
    label-max-displacement: 300;
    label-repeat: 150;
    label-max-angle-delta: 90;
    font-fill: #000000;
    font-family: 'Noto Sans';
  	label-group: true;
}
/$ Arrows created separated layer $/
/$
[class = 'highway' and type in (
    'motorway',
    'motorway_link',
    'trunk',
    'trunk_link',
    'primary',
    'primary_link',
    'secondary',
    'secondary_link',
    'tertiary',
    'tertiary_link',
    'residential',
    'unclassified',
    'living_street',
    'road',
    'service',
    'pedestrian',
    'raceway',
    'cycleway',
    'footway',
    'path',
    'steps',
    'track',
    'bridleway'
)][oneway in (1, -1)][@sd < 10k] {
  	stroke: symbol('file://symbols/oneway.svg');
  	stroke-dasharray: 3 180;
  	stroke-dashoffset: 5;
  	stroke-offset: 1.5;
  	[oneway = '-1'] {
      	stroke: symbol('file://symbols/oneway-reverse.svg');
  	};
  	:stroke {
    	fill: #000000;
      	size: 5;
  	};
  	[type in ('motorway', 'motorway_link')] {
    	:stroke { fill:@{motorway_oneway_arrow_color}; };
    };
    [type in ('trunk', 'trunk_link')] {
    	:stroke { fill:@{trunk_oneway_arrow_color}; };
    };
    [type in ('primary', 'primary_link')] {
		:stroke { fill:@{primary_oneway_arrow_color}; };
    };
    [type in ('secondary', 'secondary_link')] {
        :stroke { fill:@{secondary_oneway_arrow_color}; };
    };
    [type in ('tertiary', 'tertiary_link')] {
      	:stroke { fill:@{tertiary_oneway_arrow_color}; };
    };
    [type in ('residential', 'unclassified', 'road', 'service')] {
      	:stroke { fill:@{residential_oneway_arrow_color}; };
    };
    [type = 'living_street'] {
      	:stroke { fill:@{living_street_oneway_arrow_color}; };
    };
    [type = 'pedestrian'] {
      	:stroke { fill:@{pedestrian_oneway_arrow_color}; };
    };
    [type = 'raceway'] {
      	:stroke { fill:@{raceway_oneway_arrow_color}; };
    };
    [type in ('footway', 'path')]{
        :stroke { fill:@{footway_oneway_arrow_color}; };
      	[horse = 'designated'] {
        	:stroke { fill:@{bridleway_oneway_arrow_color}; };
    	};
        [bicycle = 'designated'] {
        	:stroke { fill:@{cycleway_oneway_arrow_color}; };
    	};
    };
    [type = 'steps'] {
      	:stroke { fill:@{steps_oneway_arrow_color}; };
    };
    [type = 'cycleway'] {
      	:stroke { fill:@{cycleway_oneway_arrow_color}; };
    };
    [type = 'track'] {
      	:stroke { fill:@{track_oneway_arrow_color}; };
    };
    [type = 'bridleway'] {
      	:stroke { fill:@{bridleway_oneway_arrow_color}; };
    };
}
$/
/$ Names $/

[class = 'highway' and type in (
    'motorway',
    'trunk',
    'primary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'motorway',
    'trunk',
    'primary'
)] {
    [@sd < 100k] {
        label: [name];
        font-size: categorize(@sd, 12, 1500, 11, 6k, 10, 25k, 9, 50k, 8);
        [tunnel = 0] {
            halo-radius: 1;
            [type = 'motorway'] { halo-color: @{motorway_fill}; };
            [type = 'trunk'] { halo-color: @{trunk_fill}; };
            [type = 'primary'] { halo-color: @{primary_fill}; };
        };
    };
}
[class = 'highway' and type in (
    'secondary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'secondary'
)] {
    [@sd < 100k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            10, 25k,
            9, 50k,
            8);
     	halo-radius: 1;
      	halo-color: @{secondary_fill};
    };
}
[class = 'highway' and type in (
    'tertiary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'tertiary'
)] {
    [@sd < 50k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9);
     	halo-radius: 1;
      	halo-color: @{tertiary_fill};
    };
}

[class = 'highway' and type = 'construction']
[construction is null or construction = ''] {
    [@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9);
     	halo-radius: 1;
      	halo-color: @{tertiary_fill};
      	[@sd < 1.5k] {
      		label-max-displacement: 400;
      	};
    };
}
[class = 'highway' and type in (
    'residential',
    'unclassified',
    'road'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'residential',
    'unclassified',
    'road'
)] {
    [@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9, 12.5k,
            8);
     	halo-radius: 1;
      	halo-color: @{residential_fill};
      	[@sd < 6k] {
      		label-max-displacement: 400;
      	};
    };
}
[class = 'highway' and type in (
    'raceway',
    'service'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'raceway',
    'service'
)] {
    [@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9);
     	halo-radius: 1;
      	[type = 'raceway'] { halo-color: @{raceway_fill}; };
        [type = 'service'] { halo-color: @{service_fill}; };
    };
}
[class = 'highway' and type in (
    'living_street',
    'pedestrian'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'living_street',
    'pedestrian'
)] {
    [@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9, 12.5k,
            8);
     	halo-radius: 1;
      	[type = 'living_street'] { halo-color: @{living_street_fill}; };
        [type = 'pedestrian'] { halo-color: @{pedestrian_fill}; };
    };
}

/$
#roads-area-text-name {
  [way_pixels > 3000],
  [zoom >= 17] {
    text-name: "[name]";
    text-size: 11;
    text-face-name: @book-fonts;
    text-placement: interior;
    text-wrap-width: 30; // 2.7 em
    text-line-spacing: -1.7; // -0.15 em
  }
}
$/

/$ Paths $/

[class = 'highway' and type = 'track'] {
  	[@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9, 12.5k,
            8);
        halo-radius: 1;
      	halo-color: #ffffff;
      	label-anchor: 0.5 0.5;
      	label-offset: 0 -5;
      	[@sd < 12.5k] {
      		label-offset: 0 -7;
      	};
      	[@sd < 6k] {
      		label-offset: 0 -9;
      	};
   	};
}

[class = 'highway' and type in (
    'bridleway',
    'footway',
	'cycleway',
	'path',
	'steps'
)] {
  	[@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9);
        halo-radius: 1;
      	halo-color: #ffffff;
      	label-anchor: 0.5 0.5;
      	label-offset: 0 -7;
      	[@sd < 6k] {
      		label-offset: 0 -9;
      	};
   	};
}

[class = 'railway' and type in (
    'rail',
    'subway',
	'narrow_gauge',
	'light_rail',
	'preserved',
	'funicolar',
	'monorail',
	'tram'
)] {
  	[@sd < 12.5k] {
        label: [name];
      	font-fill: #666666;
      	halo-radius: 1;
      	halo-color: #ffffff;
      	label-follow-line: true;
      	font-family: 'Noto Sans';
      	label-offset: 0 -6;
      	/$text-spacing: 900;$/
      	font-size: categorize(@sd, 
            11, 1.5k,
            10);
    	[@sd < 1.5k] {
      		label-offset: 0 -7;
      	};
   	};
}

[class = 'railway' and type = 'rail'] {
  	[highspeed = 'yes'] {
      	[@sd <= 400k] {
      		label: [name];
      		font-fill: #666666;
      		halo-radius: 1;
      		halo-color: #ffffff;
          	font-size: 10;
      		font-family: 'Noto Sans';
      		label-offset: 0 -3;
          	label-follow-line: true;
          	/$text-spacing: 300;$/
      	};
      	[@sd <= 100k] {
      		label-offset: 0 -6;
      	};/$
      	[@sd <= 50k] {
      		 text-spacing: 600;
      	};$/
      	[@sd <= 6k] {
        	font-size: 11;
        	label-offset: 0 -7;
        };
        [@sd <= 1.5k] {
          	font-size: 12;
          	label-offset: 0 -8;
        };
  	};
  
  	[highspeed <> 'yes'][usage = 'main'] {
        [@sd <= 50k] {
          	label: [name];
          	font-fill: #666666;
          	halo-radius: 1;
          	halo-color: #ffffff;
          	font-size: 10;
          	font-family: 'Noto Sans';
          	label-offset: 0 -6;
          	label-follow-line: true;
          	/$text-spacing: 300;$/
        };
        [@sd <= 6k] {
          	/$text-spacing: 600;$/
          	font-size: 11;
          	label-offset: 7;
        };
        [@sd <= 1.5k] {
          	font-sizee: 12;
          	label-offset: 8;
        };
    };
}

[class = 'railway' and type in (
	'preserved',
 	'miniature',
	'disused',
	'construction'
)] {
    [@sd <= 6k] {
        label: [name];
        font-fill: #666666;
        halo-radius: 1;
        halo-color: #ffffff;
        font-size: 10;
        font-family: 'Noto Sans';
        label-offset: 0 -6;
      	label-follow-line: true;
      	/$text-spacing: 900;$/
    };
    [@sd <= 1.5k] {
      	font-size: 11;
      	label-offset: 0 -7;
    };
}


TEMPLATE*/




* {
  	sort-by: 'z_order';
  	label-follow-line: true;
    label-max-displacement: 300;
    label-repeat: 150;
    label-max-angle-delta: 90;
    font-fill: #000000;
    font-family: 'Noto Sans';
  	label-group: true;
}
/* Arrows created separated layer */
/*
[class = 'highway' and type in (
    'motorway',
    'motorway_link',
    'trunk',
    'trunk_link',
    'primary',
    'primary_link',
    'secondary',
    'secondary_link',
    'tertiary',
    'tertiary_link',
    'residential',
    'unclassified',
    'living_street',
    'road',
    'service',
    'pedestrian',
    'raceway',
    'cycleway',
    'footway',
    'path',
    'steps',
    'track',
    'bridleway'
)][oneway in (1, -1)][@sd < 10k] {
  	stroke: symbol('file://symbols/oneway.svg');
  	stroke-dasharray: 3 180;
  	stroke-dashoffset: 5;
  	stroke-offset: 1.5;
  	[oneway = '-1'] {
      	stroke: symbol('file://symbols/oneway-reverse.svg');
  	};
  	:stroke {
    	fill: #000000;
      	size: 5;
  	};
  	[type in ('motorway', 'motorway_link')] {
    	:stroke { fill:#741334; };
    };
    [type in ('trunk', 'trunk_link')] {
    	:stroke { fill:#612617; };
    };
    [type in ('primary', 'primary_link')] {
		:stroke { fill:#533800; };
    };
    [type in ('secondary', 'secondary_link')] {
        :stroke { fill:#444c03; };
    };
    [type in ('tertiary', 'tertiary_link')] {
      	:stroke { fill:#424242; };
    };
    [type in ('residential', 'unclassified', 'road', 'service')] {
      	:stroke { fill:#555555; };
    };
    [type = 'living_street'] {
      	:stroke { fill:#6e6e6e; };
    };
    [type = 'pedestrian'] {
      	:stroke { fill:#595959; };
    };
    [type = 'raceway'] {
      	:stroke { fill:#c00022; };
    };
    [type in ('footway', 'path')]{
        :stroke { fill:#b31806; };
      	[horse = 'designated'] {
        	:stroke { fill:#664400; };
    	};
        [bicycle = 'designated'] {
        	:stroke { fill:#000080; };
    	};
    };
    [type = 'steps'] {
      	:stroke { fill:#b31806; };
    };
    [type = 'cycleway'] {
      	:stroke { fill:#000080; };
    };
    [type = 'track'] {
      	:stroke { fill:#4d3300; };
    };
    [type = 'bridleway'] {
      	:stroke { fill:#664400; };
    };
}
*/
/* Names */

[class = 'highway' and type in (
    'motorway',
    'trunk',
    'primary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'motorway',
    'trunk',
    'primary'
)] {
    [@sd < 100k] {
        label: [name];
        font-size: categorize(@sd, 12, 1500, 11, 6k, 10, 25k, 9, 50k, 8);
        [tunnel = 0] {
            halo-radius: 1;
            [type = 'motorway'] { halo-color: #e892a2; };
            [type = 'trunk'] { halo-color: #f9b29c; };
            [type = 'primary'] { halo-color: #fcd6a4; };
        };
    };
}
[class = 'highway' and type in (
    'secondary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'secondary'
)] {
    [@sd < 100k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            10, 25k,
            9, 50k,
            8);
     	halo-radius: 1;
      	halo-color: #f7fabf;
    };
}
[class = 'highway' and type in (
    'tertiary'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'tertiary'
)] {
    [@sd < 50k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9);
     	halo-radius: 1;
      	halo-color: #ffffff;
    };
}

[class = 'highway' and type = 'construction']
[construction is null or construction = ''] {
    [@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9);
     	halo-radius: 1;
      	halo-color: #ffffff;
      	[@sd < 1.5k] {
      		label-max-displacement: 400;
      	};
    };
}
[class = 'highway' and type in (
    'residential',
    'unclassified',
    'road'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'residential',
    'unclassified',
    'road'
)] {
    [@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9, 12.5k,
            8);
     	halo-radius: 1;
      	halo-color: #ffffff;
      	[@sd < 6k] {
      		label-max-displacement: 400;
      	};
    };
}
[class = 'highway' and type in (
    'raceway',
    'service'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'raceway',
    'service'
)] {
    [@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9);
     	halo-radius: 1;
      	[type = 'raceway'] { halo-color: pink; };
        [type = 'service'] { halo-color: #ffffff; };
    };
}
[class = 'highway' and type in (
    'living_street',
    'pedestrian'
)],
[class = 'highway' and type = 'construction']
[construction in (
    'living_street',
    'pedestrian'
)] {
    [@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            12, 1500,
            11, 6k,
            9, 12.5k,
            8);
     	halo-radius: 1;
      	[type = 'living_street'] { halo-color: #ededed; };
        [type = 'pedestrian'] { halo-color: #dddde8; };
    };
}

/*
#roads-area-text-name {
  [way_pixels > 3000],
  [zoom >= 17] {
    text-name: "[name]";
    text-size: 11;
    text-face-name: @book-fonts;
    text-placement: interior;
    text-wrap-width: 30; // 2.7 em
    text-line-spacing: -1.7; // -0.15 em
  }
}
*/

/* Paths */

[class = 'highway' and type = 'track'] {
  	[@sd < 25k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9, 12.5k,
            8);
        halo-radius: 1;
      	halo-color: #ffffff;
      	label-anchor: 0.5 0.5;
      	label-offset: 0 -5;
      	[@sd < 12.5k] {
      		label-offset: 0 -7;
      	};
      	[@sd < 6k] {
      		label-offset: 0 -9;
      	};
   	};
}

[class = 'highway' and type in (
    'bridleway',
    'footway',
	'cycleway',
	'path',
	'steps'
)] {
  	[@sd < 12.5k] {
        label: [name];
        font-size:
          categorize(@sd, 
            11, 6k,
            9);
        halo-radius: 1;
      	halo-color: #ffffff;
      	label-anchor: 0.5 0.5;
      	label-offset: 0 -7;
      	[@sd < 6k] {
      		label-offset: 0 -9;
      	};
   	};
}

[class = 'railway' and type in (
    'rail',
    'subway',
	'narrow_gauge',
	'light_rail',
	'preserved',
	'funicolar',
	'monorail',
	'tram'
)] {
  	[@sd < 12.5k] {
        label: [name];
      	font-fill: #666666;
      	halo-radius: 1;
      	halo-color: #ffffff;
      	label-follow-line: true;
      	font-family: 'Noto Sans';
      	label-offset: 0 -6;
      	/*text-spacing: 900;*/
      	font-size: categorize(@sd, 
            11, 1.5k,
            10);
    	[@sd < 1.5k] {
      		label-offset: 0 -7;
      	};
   	};
}

[class = 'railway' and type = 'rail'] {
  	[highspeed = 'yes'] {
      	[@sd <= 400k] {
      		label: [name];
      		font-fill: #666666;
      		halo-radius: 1;
      		halo-color: #ffffff;
          	font-size: 10;
      		font-family: 'Noto Sans';
      		label-offset: 0 -3;
          	label-follow-line: true;
          	/*text-spacing: 300;*/
      	};
      	[@sd <= 100k] {
      		label-offset: 0 -6;
      	};/*
      	[@sd <= 50k] {
      		 text-spacing: 600;
      	};*/
      	[@sd <= 6k] {
        	font-size: 11;
        	label-offset: 0 -7;
        };
        [@sd <= 1.5k] {
          	font-size: 12;
          	label-offset: 0 -8;
        };
  	};
  
  	[highspeed <> 'yes'][usage = 'main'] {
        [@sd <= 50k] {
          	label: [name];
          	font-fill: #666666;
          	halo-radius: 1;
          	halo-color: #ffffff;
          	font-size: 10;
          	font-family: 'Noto Sans';
          	label-offset: 0 -6;
          	label-follow-line: true;
          	/*text-spacing: 300;*/
        };
        [@sd <= 6k] {
          	/*text-spacing: 600;*/
          	font-size: 11;
          	label-offset: 7;
        };
        [@sd <= 1.5k] {
          	font-sizee: 12;
          	label-offset: 8;
        };
    };
}

[class = 'railway' and type in (
	'preserved',
 	'miniature',
	'disused',
	'construction'
)] {
    [@sd <= 6k] {
        label: [name];
        font-fill: #666666;
        halo-radius: 1;
        halo-color: #ffffff;
        font-size: 10;
        font-family: 'Noto Sans';
        label-offset: 0 -6;
      	label-follow-line: true;
      	/*text-spacing: 900;*/
    };
    [@sd <= 1.5k] {
      	font-size: 11;
      	label-offset: 0 -7;
    };
}


